.tab {
  position: relative;
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}

.tab:first-of-type {
  border-radius: 4px 0 0 4px;
}

.tab:last-of-type {
  border-radius: 0 4px 4px 0;
}

.tab + .tab {
  border-left-width: 0;
}

@media (direction: rtl) {
  .tab:first-of-type {
    border-radius: 0 4px 4px 0;
  }
  .tab:last-of-type {
    border-radius: 4px 0 0 4px;
  }
  .tab + .tab {
    border-right-width: 0;
    border-left-width: 1px;
  }
}

.tab:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
}

.tab[data-active] {
  z-index: 1;
  background-color: var(--mantine-color-blue-filled);
  border-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
}

.tab[data-active]:hover {
  background-color: var(--mantine-color-blue-filled-hover);
}

