.root {
  transition: all 150ms ease;

  @mixin light {
    border: 1px solid var(--mantine-color-gray-2);
  }

  @mixin dark {
    border: 1px solid var(--mantine-color-dark-5);
  }

  &:hover {
    @mixin light {
      border-color: var(--mantine-color-gray-3);
      box-shadow: var(--mantine-shadow-sm);
    }

    @mixin dark {
      border-color: var(--mantine-color-dark-4);
      box-shadow: var(--mantine-shadow-sm);
    }
  }
}
