.plan {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 1.5rem;
  box-shadow: var(--mantine-shadow-sm);
  border-radius: var(--mantine-radius-lg);
  background-image: linear-gradient(
    180deg,
    rgba(242, 174, 55, 1) 0%,
    rgba(240, 155, 54, 1) 100%
  );
  padding: var(--mantine-spacing-lg);
  overflow: hidden;
}

.plan::after {
  content: "";
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  right: -80px;
  top: -80px;
  background-color: var(--mantine-color-gray-0);
  opacity: 0.2;
}

.plan::before {
  content: "";
  position: absolute;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
  right: 0px;
  top: 160px;
  background-color: var(--mantine-color-gray-0);
  opacity: 0.2;
}

.planLogoContainer {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
  border: 1px solid var(--mantine-color-gray-2);
}

.actionIcon {
  background-color: var(--mantine-color-gray-light-hover);
}

.count {
  font-size: 2.5rem;
  color: var(--mantine-color-white);
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
  line-height: 1;
}

.infoSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  background-color: white;
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-md);
  padding: var(--mantine-spacing-sm);
  flex: 1;
}
