.root {
  transition: all 150ms ease;
  cursor: pointer;

  @mixin light {
    border: 1px solid var(--mantine-color-gray-2);

    .value {
      color: black;
    }

    .label {
      color: var(--mantine-color-dark-3);
    }

    .viewDetail {
      color: var(--mantine-color-dark-3);
    }
  }

  @mixin dark {
    border: 1px solid var(--mantine-color-dark-5);

    .value {
      color: white;
    }

    .label {
      color: var(--mantine-color-dark-1);
    }

    .viewDetail {
      color: var(--mantine-color-dark-1);
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--mantine-shadow-md);

    @mixin light {
      border-color: var(--mantine-color-gray-3);
    }

    @mixin dark {
      border-color: var(--mantine-color-dark-4);
    }
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 0.625rem;
  border: 2px solid;
  transition: all 150ms ease;
}

.viewDetail {
  transition: color 150ms ease;

  &:hover {
    @mixin light {
      color: var(--mantine-color-dark-6) !important;
    }

    @mixin dark {
      color: var(--mantine-color-gray-0) !important;
    }
  }
}
